/* Estilos para a barra de título personalizada */
.titlebar {
    height: 45px;
    background-color: var(--titlebar-color);
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    user-select: none;
    -webkit-app-region: drag; /* Permite arrastar a janela pela barra de título */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* border-bottom: 1px solid var(--border-color); */
    overflow: hidden;
    box-sizing: border-box; /* Garante que padding não afete a altura total */
}

.titlebar .logo {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebar .logo img {
    width: 36px;
}

/* .titlebar-title {
    margin-left: 10px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
} */

.titlebar-action-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #cccccc;
    padding: 5px 10px;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-app-region: no-drag; /* Permite clicar no botão */
}

.titlebar-action-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.titlebar-action-button .material-icons {
    font-size: 16px;
}

.titlebar-controls {
    display: flex;
    justify-self: end;
    -webkit-app-region: no-drag; /* Permite clicar nos controles */
}

/* Estilos específicos para macOS */
body.is-mac .titlebar {
    padding-left: 80px; /* Espaço para os controles nativos do macOS (semáforos) */
    padding-top: 4px; /* Ajuste vertical para os controles nativos do macOS */
    height: 45px; /* Mantém a altura total da barra de título */
}

/* Remove o padding quando estiver maximizado no macOS */
body.is-mac.is-maximized .titlebar {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

body.is-mac .titlebar-controls {
    display: none; /* Oculta os botões de controle do Windows no macOS */
}

.titlebar-button {
    width: 46px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #cccccc;
    outline: none;
    cursor: pointer;
}

.titlebar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.titlebar-button.close:hover {
    background-color: #e81123;
    color: white;
}

/* Ajustes para o layout da aplicação com a barra de título */
body {
    overflow: hidden;
}

/* Ícones para os botões da barra de título */
.titlebar-button i {
    font-size: 16px;
}